{% extends "base.html" %}

{% block content %}

<script>

    var episodes = {{ episodes|safe }};

    $(document).ready(function(){
        d3.select("body")
          .selectAll('p')
          .data(episodes)
          .enter()
          .append('div')
          .attr('title', function(d){ return '['+d.fields.rating+'] '+'(#'+d.fields.season+'.'+d.fields.episode+') '+d.fields.name })
          .attr('class', 'bar').style('height', function(d){ return d.fields.rating*20+"px" });
    });
</script>

<h1>{{ show.name }}</h1>

{% endblock %}
